@media (max-width: 679px) and (min-width: 480px) {
  .label {
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 60px;
    display: block;
    float: left;
    text-align: center;
    font-family: Lato, sans-serif;
  }
  .input {
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    color: white;
    outline-width: 0;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    font-weight: lighter;
    font-family: "YuGothic";
    width: 70%;
    &::-webkit-input-placeholder {
      color: #0799f4;
    }
  }
}

@media (min-width: 680px) {
  .label {
    color: white;
    font-weight: 400;
    font-size: 12px;
    width: 50px;
    display: block;
    float: left;
    text-align: right;
    font-family: Lato, sans-serif;
  }
  .input {
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    color: white;
    outline-width: 0;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    font-weight: lighter;
    font-family: "YuGothic";
    width: 200px;
    &::-webkit-input-placeholder {
      color: #6fb4ec;
    }
  }
}

@media (max-width: 480px) {
  .label {
    color: white;
    font-weight: 400;
    font-size: 12px;
    width: 10%;
    display: block;
    float: left;
    text-align: right;
    font-family: Lato, sans-serif;
  }
  .input {
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: white;
    background-color: transparent;
    color: white;
    outline-width: 0;
    height: 30px;
    font-size: 16px;
    font-weight: lighter;
    font-family: "YuGothic";
    width: 70%;
    padding-left: 5px;
    &::-webkit-input-placeholder {
      color: #6fb4ec;
    }
  }
}
