@media (min-width: 1000px) {
  .container {
    position: fixed;
    top: 0px;
    left: 500px;
    right: 300px;
    bottom: 0px;
    z-index: 250;
  }
}

@media (max-width: 999px) {
  .container {
    width: 100%;
    height: 999px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    height: 500px;
    z-index: 250;
  }
}

.map {
  width: 100%;
  height: 100%;
}
