@media (min-width: 1000px) {
  .container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -300px;
    width: 300px;
    background: linear-gradient(0deg, #0a73ea, red);
    z-index: 250;
    overflow: auto;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
