@media (min-width: 680px) {
  .container {
    position: absolute;
    top: 0px;
    height: 100vh;
    right: 0px;
    width: 40px;
    z-index: 250;
    overflow: auto;
    overflow-x: hidden;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    width: 300px;
  }
  .fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.6s;
    width: 40px;
  }
  .button {
    position: fixed;
    top: 10px;
    outline: none;
    margin-left: 10px;
    width: 20px;
    display: inline-block;
    color: white;
    cursor: pointer;
  }
  .resultWrap {
    overflow-y: scroll;
    width: 280px;
    padding: 10px;
    padding-left: 30px;
    & > .row:first-child {
      margin-top: 50px;
    }
    & > .row:last-child {
      margin-bottom: 50px;
    }
  }
  .row {
    margin-bottom: 20px;
    color: white;
  }
  .name {
    height: 30px;
    width: 100%;
    font-weight: lighter;
    vertical-align: baseline;
    font-family: "YuGothic";
  }
  .point {
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 14px;
    border-width: 0px;
    margin-right: 20px;
    background-color: #e7453c;
    color: white;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    float: left;
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
  .start {
    line-height: 30px;
    width: 180px;
    white-space: nowrap;
    display: inline-block;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .infoWrap {
    margin-top: 20px;
  }
  .info {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    display: table-cell;
    font-family: Lato, sans-serif;
    white-space: nowrap;
  }
  .dot {
    width: 1px;
    height: 50px;
    border-width: 0px;
    border-left-width: 1px;
    border-style: dotted;
    color: white;
    margin-left: 15px;
    float: left;
    margin-right: 24px;
  }
}

@media (max-width: 679px) {
  .button {
    display: none;
  }
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .row {
    height: 100px;
    width: 100%;
  }
  .point {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-width: 1px;
    border-color: white;
    border-radius: 14px;
    background-color: #e7453c;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: 500;
    border-style: solid;
  }
  .start {
    margin-left: 15px;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    line-height: 14px;
    overflow-x: auto;
    white-space: nowrap;
    width: 340px;
    display: inline-block;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .infoWrap {
    height: 70px;
  }
  .dot {
    border-width: 0px;
    border-left-width: 1px;
    border-style: dotted;
    height: 52px;
    color: white;
    float: left;
    display: inline-block;
    margin-left: 15px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .info {
    height: 52px;
    color: white;
    vertical-align: middle;
    line-height: 52px;
    padding-left: 30px;
    padding-top: 9px;
    display: inline-block;
    padding-bottom: 9px;
  }
  .resultWrap {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .button {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    width: 40px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    width: 300px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

@keyframes fadeOut {
  0% {
    width: 300px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  100% {
    width: 40px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}
