.container {
  width: 50%;
}

.wrap {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.fadeout {
  animation-name: fadeOut;
  animation-duration: 0.3s;
}

.addButton {
  display: inline-block;
  z-index: 100;
  position: relative;
  color: white;
  left: 30px;
  &:hover {
    cursor: pointer;
    color: #0a73ea;
  }
}

.removeButton {
  z-index: 100;
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  display: block;
  float: left;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

@keyframes fadeIn {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
  100% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
}
