.container {
  width: 30%;
  float: left;
}

.wrap {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.fadeout {
  animation-name: fadeOut;
  animation-duration: 0.3s;
}

.addButton {
  display: inline-block;
  position: relative;
  color: white;
  left: 30px;
  &:hover {
    cursor: pointer;
    color: #0a73ea;
  }
}

.removeButton {
  position: absolute;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.3);
  display: block;
  float: left;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

@keyframes fadeIn {
  0% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    position: relative;
    top: 0px;
    opacity: 1;
  }
  100% {
    position: relative;
    top: -50px;
    opacity: 0;
  }
}

.searchButtonWrap {
  width: 100%;
  margin-top: 100px;
  padding-left: 250px;
}

.searchButton {
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  color: #0a73ea;
  font-size: 20px;
  outline: none;
  &:hover {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    color: white;
  }
}
